button {
    display: block;
    cursor: pointer;
    margin-top: 15px;
}
.first {
    border-radius: 20px;
    width: 120px;
    color: rgb(82, 202, 162);
    border-color: rgb(92, 198, 162);
    background-color: white;
}
.middle {
    border-radius: 50%;
    width: 30px;
    height: 25px;
    color: white;
    border: none;
    background-color: aquamarine;
    font-size: 20px;
}
.last {
    color: white;
    background-color: rgb(45, 45, 199);
    border-color: black;
    height: 25px;
    width: 150px;
    box-shadow: 10px 5px 5px black;
}