*{
    margin: 0;
    padding: 0;
}
.navbar {
    width: 580px;
    height: 70px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 150px;
    margin-top: 20px;
}
input {
    width: 250px;
    border: 2px solid black;
    height: 25px;
}
.navbar > button {
    width: 60px;
    color: white;
    background-color: rgb(46, 70, 229);
    height: 25px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    cursor: pointer;
}
.left {
    width: 350px;
    height: 400px;
    
    margin-left: 150px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.defOne {
    width: 100%;
    height: 45%;
    border: 4px solid black;
    display: flex;
}
.defOneleft {
    display: flex;
    
    flex-direction: column;
    height: 90%;
    width: 35%;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
.defOneleft > button {
    width: 60px;
    color: black;
    background-color: rgb(240, 220, 1);
    height: 25px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    cursor: pointer;
}
.defOneright {
    height: 100%;
    width: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.defTwo {
    width: 100%;
    height: 45%;
    border: 4px solid black;
    display: flex;
}
.defTwoleft {
    display: flex;
    
    flex-direction: column;
    height: 90%;
    width: 35%;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
.defTworight {
    display: flex;
    
    flex-direction: column;
    height: 90%;
    width: 35%;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
.defTwoleft > button {
    width: 60px;
    color: black;
    background-color: rgb(240, 220, 1);
    height: 25px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    cursor: pointer;
}
.defTworight {
    height: 100%;
    width: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.right {
    width: 193px;
    height: 150px;
    border: 4px solid black;
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.web {
    display: flex;
}
.right > button {
    width: 180px;
    color: black;
    background-color: rgb(30, 164, 7);
    height: 30px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    cursor: pointer;
}